@import "tailwindcss" source(none);

@source "../";
@source "../../.ladle";

@theme {
  /* Grays */
  --color-brand-gray-0: #1a1a1a;
  --color-brand-gray-1: #282828;
  --color-brand-gray-2: #525252;
  --color-brand-gray-3: #a9a9a9;
  --color-brand-gray-4: #dcdcdc;
  --color-brand-gray-5: #f2f2f2;
  --color-brand-gray-6: #ffffff;

  /* Greens */
  --color-brand-green-0: #67e347;
  --color-brand-green-1: #eeff64;
  --color-brand-green-2: #eefdca;

  /* Yellows */
  --color-brand-yellow-0: #ffde53;
  --color-brand-yellow-1: #fef278;
  --color-brand-yellow-2: #fffcda;

  /* Reds */
  --color-brand-red-0: #ff6c78;
  --color-brand-red-1: #ffe2da;
  --color-brand-red-2: #ffedee;

  /* Pinks */
  --color-brand-pink-0: #ff92d5;
  --color-brand-pink-1: #ffcde4;
  --color-brand-pink-2: #ffe7fb;

  /* Magenta */
  --color-brand-magenta-0: #a5c3d4;
  --color-brand-magenta-1: #c4e4fc;
  --color-brand-magenta-2: #e6d7ff;

  /* Blues */
  --color-brand-blue-0: #4ce0ff;
  --color-brand-blue-1: #c2f8fd;
  --color-brand-blue-2: #f3feff;

  /* Fonts */
  --font-heading: "ABC Gaisyr", serif;
  --font-accent: "ABC Favotit Mono", monospace;
  --font-body: "ABC Favotit", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-brand-gray-0);
    color: var(--color-brand-gray-4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
